<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palabras Random</title>
</head>
<body>
    <div class="container-fluid text-center">
        <div><h1>Random Words!</h1></div>
        <div><h3>Prueba N° {{request.session.counter}}</h3></div>
        <div><h1>{{word}}</h1></div>

    
    <button type="submit" class="btn btn-primary"> <a href="index.html"> Generate!</a></button>
    <button type="submit" class="btn btn-primary"><a href="index.html/reset">Reset!</a></button>
    </div>
</body>
</body>
</html>